__pycache__/
**/__pycache__/
.env
.idea/
app/code_process/__pycache__/
app/templates/__pycache__/
data/*
*.pyc

/dist/*

.coverage
.pytest_cache

.DS_Store
.idea/*
.python-version
.vscode/*

/docs/site/*
.mypy_cache

.venv

*.csv
*.json
*.jsonl

lcquad_collections/*
qdrant_storage/*
