services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_storage:/qdrant/storage

  text-to-sparql:
    image: author/text_to_sparql:latest
    container_name: text-to-sparql
    ports:
      - "8501:8501"
    depends_on:
      - qdrant